<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Avião Comercial</h1>
    <div class="page-content">
      <img src="{{ url_for('static', filename='images/comercial.png') }}" alt="comercial">
      <p><strong>Utilidade:</strong>Viagens em grande escala pelo mundo carregando grandes quantidades de pessoas</p>
      <p><strong>Tamanho medio:</strong> ~60 metros de comprimento</p>
      <p><strong>Preço medio:</strong> 350.000.000.00 R$</p>
      <p><a href="/">⬅ Voltar</a></p>
    </div>
</body>
</html>