<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hidro Avião</h1>
  <div class="page-content">
    <img src="{{ url_for('static', filename='images/hidro.png') }}" alt="hidro">
    <p><strong>Utilidade</strong>Expedições em lugares remotos e de dificil pouso</p>
    <p><strong>Tamanho medio:</strong> ~16 metros de comprimento</p>
    <p><strong>Preço medio:</strong> 400.000.00 R$</p>
    <p><a href="/">⬅ Voltar</a></p>
  </div>
</body>
</html>