<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Hidro Avião</h1>
    <div class="page-content">
      <img src="{{ url_for('static', filename='images/jato.png') }}" alt="jato">
      <p><strong>Utilidade:</strong>Viagens particulares de media escala </p>
      <p><strong>Tamanho medio:</strong> ~9 metros de comprimento</p>
      <p><strong>Preço medio:</strong> 500.000.000.00 R$</p>
      <p><a href="/">⬅ Voltar</a></p>
    </div>
</body>
</html>